body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
}
/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #212121;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.accent {
  color: #2196f3;
}
.list {
  list-style: none;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
/* Navigation */
.header-contacts .link {
  color: #757575;
}

/* Hero */
.hero {
  background-color: #2f303a;
}
.hero-title,
.portfolio-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}
/* Studio */
.studio-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.studio-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #212121;
}
.studio-headline,
.perfomence-headline,
.team-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}
/* Team */
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team-position {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
/* Footer */
.contacts {
  background-color: #2f303a;
  color: #ffffff;
}
.contacts .logo {
  color: #ffffff;
}
.address {
  font-style: normal;
}
.address .link {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.link:hover,
.link:focus {
  color: #2196f3;
}
/* Portfolio page*/
.portfolio-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.portfolio-button {
  cursor: pointer;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}
/* Projects */
.link .project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.link .project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
